.footer__link-item {
    text-decoration: none;
    color: #ffffff;
    /*font-size: 16px;
    line-height: 18px;*/
    transition: opacity 0.35s;
}
  
  .footer__link-item:hover {
    opacity: 0.5;
}

