@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    margin: 0 auto;
    padding: 92px 48px 0;
    position: relative;
}

@media (max-width: 1024px) {
    .cover {
    padding: 0;
    margin: 92px 0 0;
}
}

@media (max-width: 768px) {
    .cover {
        margin: 88px 0 0;
        padding: 0;
    }
}

@media (max-width: 425px) {
    .cover {
        margin: 64px 0 0;
        padding: 0;
    }
}
