.lead__subtitle {
    max-width: 640px;
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px 0 0;

}

@media (max-width: 720px) {
    .lead__subtitle {
      font-size: calc(4vw);
      line-height: normal;
      max-width: 80%;
    }
  }

@media (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}